{% extends "base.html" %}
{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    <p>{{request.resolver_match.app_name}}</p>
    <p>шаблон из раздела статьи</p>
    <a href="{% url 'art:cr_art'%}">Create new...</a>
    <h1>Список статей</h1>
    {% for article in articles %}
        <h2><a href="{{article.id}}">{{ article.name }}</a> <a href="{%url 'art:edit_article' article.id %}">Edit...</a> </h2>
<form action="{% url 'art:delete_article' article.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
</form>

<div>{{ article.body|slice:":200" }}</div>
    {% endfor %}
{% endblock %}




